@model Portfolio.Models.Investment

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Your Investment</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank_Name" class="control-label"></label>
                <input asp-for="Bank_Name" class="form-control" />
                <span asp-validation-for="Bank_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROI" class="control-label"></label>
                <input asp-for="ROI" class="form-control" />
                <span asp-validation-for="ROI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investment_Start_Date" class="control-label"></label>
                <input asp-for="Investment_Start_Date" class="form-control" />
                <span asp-validation-for="Investment_Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maturity_Date" class="control-label"></label>
                <input asp-for="Maturity_Date" class="form-control" />
                <span asp-validation-for="Maturity_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investment_Amount" class="control-label"></label>
                <input asp-for="Investment_Amount" class="form-control" />
                <span asp-validation-for="Investment_Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maturity_Amount" class="control-label"></label>
                <input asp-for="Maturity_Amount" class="form-control" />
                <span asp-validation-for="Maturity_Amount" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:10px">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Home</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
